/* You can add global styles to this file, and also import other style files */
.playfield {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  place-self: center;
}

.fieldWin {
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  background-color: green;
}

.fieldLost {
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  background-color: red;
}

.center {
  height: 700px;
  width: 600px;
  background: yellow;
  border-color: blue;
  border-style: solid;
  border-width: 10px;
  text-align: center;

  position: fixed;
  top: 30%;
  left: 45%;
  margin-top: -100px;
  margin-left: -200px;
}

.enter-animation {
  animation: slide-fade 1s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
