/* You can add global styles to this file, and also import other style files */
.playfield {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  place-self: center;
}

.field {
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  background-color: lightblue;
}

.selectedField {
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  background-color: gray;
}

.field:hover {
  background-color: deepskyblue;
}

h1 {
  font-family: courier, fantasy;
  font-size:60px;
  text-align: center;
}

.devmode {
  font-size: 10px;
}

.center {
  height: 1050px;
  width: 850px;
  background: rosybrown;
  border-color: firebrick;
  border-style: solid;
  border-width: 10px;
  text-align: center;
  position: fixed;
  top: 15%;
  left: 33%;
}

.enter-animation {
  animation: slide-fade 1s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


