body {
  background-color: indianred;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  zoom: 75%
}
