button {
  font-size: 50px;
  background-color: coral;
  color: blueviolet;
  text-align: center;
  border: chartreuse;
}

.enter-animation {
  animation: slide-fade 1s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.center {
  height: 700px;
  width: 600px;
  background: yellow;
  border-color: blue;
  border-style: solid;
  border-width: 10px;
  text-align: center;

  position: fixed;
  top: 30%;
  left: 45%;
  margin-top: -100px;
  margin-left: -200px;
}
