button {
  font-size: 50px;
  font-family: "Javanese Text", ui-serif;
  background-color: coral;
  color: blueviolet;
  text-align: center;
  border: chartreuse;
  margin-top: 20px;
  width: 500px;
}

.sides {
  font-size: 50px;
  font-family: "Javanese Text", ui-serif;
  background-color: coral;
  color: blueviolet;
  text-align: center;
  border: chartreuse;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

.enter-animation {
  animation: slide-fade 1s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-family: courier, fantasy;
  font-size:60px;
  text-align: center;
}

button:hover {
  background-color: orangered;
}

.center {
  height: 1050px;
  width: 850px;
  background: rosybrown;
  border-color: firebrick;
  border-style: solid;
  border-width: 10px;
  text-align: center;

  position: fixed;
  top: 15%;
  left: 33%;

}
